@import "../../../../variables.scss";

.overcover1,
.overcover2 {
  position: absolute;
  background: #2c2822a8;
  margin-top: 0px;
  z-index: 1;
  height: 650px;
  width: 100%;
}

.overcover2 {
  height: 50px;
}

.div-banner img {
  height: $bannerHeight1;
}

.contact-us i {
  color: #9f7a0e !important;
  font-size: 20px !important;
  text-shadow: -1px -1px 0px var(--bs-yellow);
  margin-right: 5px !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.features-div {
  img {
    height: 150px;
    width: 181px;
  }

  b{
    font-size: 24px;
  }

  font-size: 17px;
}

.css-panel-heading {
  color: #41464b;
  letter-spacing: 4px;
  font-size: 39px;
  text-transform: capitalize !important;
}

.div-undelined {
  background: #f47d23;
  height: 3px;
  width: 8%;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 38px;
}

.navbar-collapse{
  ul 
  {
    li{
      a{
        font-family: inherit;
        font-weight: lighter;
       padding: 2px 13px;
        height: 27px;
        margin: 8px 3px;
        font-size: 15px;
        color: #422f2f !important;
        background-color: #f1efef;
        box-shadow: inset -1px -14px 10px #22151526;
        border-radius: 16px;
        border: 1px solid #edd8d8;
      }

      :hover{
        color: rgb(54, 153, 87) !important;
        text-shadow: 0px 1px 0px white;
      }

      .active{
        color: #ffffff !important;
        background-color: #24b540;
        text-shadow: none;
        }

    }
  }
}
